<a href="https://colab.research.google.com/github/spacemaninSeoul/PythonMachinelearningGuide/blob/main/%5B%ED%8C%8C%EC%9D%B4%EC%8D%AC%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D%EC%99%84%EB%B2%BD%EA%B0%80%EC%9D%B4%EB%93%9C%5D_IX_%EC%B6%94%EC%B2%9C_%EC%8B%9C%EC%8A%A4%ED%85%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 추천 시스템의 개요와 배경

## 1) 추천 시스템의 개요와 배경

추천 시스템의 진정한 묘미는 사용자 자신도 좋아하는지 몰랐던 취향을 시스템이 발견하고 그에 맞는 콘텐츠를 추천해주는 것이다. 이러한 추천 시스템을 접한 사용자는 해당 사이트를 더 강하게 신뢰하게 되어 더 많은 추천 콘텐츠를 선택하게 된다. 결국 더 많은 데이터가 추천 시스템에 축적되면서 추천이 더욱 정확해지고 다양한 결과를 얻을 수 있는 좋은 선순환 시스템을 구축할 수 있게 된다.

## 2) 추천 시스템의 유형

추천 시스템은 크게 **콘텐츠 기반 필터링(Content based filtering) 방식**과 **협업 필터링(Collaborative Filtering)** 방식으로 나뉜다. 그리고 협업 필터림 방식은 다시 **최근접 이웃(Nearest Neighbor) 협업 필터링**과 **잠재 요인(Latent Factor) 협업 필터링**으로 나뉜다.

# 2. 콘텐츠 기반 필터링 추천 시스템

**콘텐츠 기반 필터링 방식**은 사용자가 특정한 아이템을 매우 선호하는 경우, 그 아이템과 비슷한 콘텐츠를 가진 다른 아이템을 추천하는 방식이다.

# 3. 최근접 이웃 협업 필터링

친구들에게 물어보는 것과 유사한 방식으로, 사용자가 아이템에 매긴 평점 정보나 상품 구매 이력과 같은 사용자 행동 양식(User Behavior)만을 기반으로 추천을 수행하는 것이 협업 필터링(Collaborative Filtering) 방식이다.

협업 필터링의 주요 목표는 사용자-아이템 평점 매트릭스와 같은 축적된 사용자 행동 데이터를 기반으로 사용자가 아직 평가하지 않은 아이템을 예측 평가(Predicted Rating)하는 것이다.

협업 필터링 기반의 추천 시스템은 최근접 이웃 방식과 잠재 요인 방식으로 나뉘며, 두 방식 모두 사용자-아이템 평점 행렬 데이터에만 의지해 추천을 수행한다. 협업 필터링 알고리즘에 사용되는 사용자-아이템 평점 행렬에서 행(Row)은 개별 사용자, 열(Column)은 개별 아이템으로 구성되며, 사용자 아이디 행, 아이템 아이디 열 위치에 해당하는 값이 평점을 나타내는 형태가 돼야 한다.

일반적으로 이러한 사용자-아이템 평점 행렬은 많은 아이템을 열로 가지는 다차원 행렬이며, 사용자가 아이템에 대한 평점을 매기는 경우가 많지 않기 때문에 희소 행렬(Sparse Matrix) 특성을 가진다.

최근접 이웃 협업 필터링은 메모리(Memory) 협업 필터링이라고도 하며, 일반적으로 사용자 기반과 아이템 기반으로 다시 나뉠 수 있다.
- 사용자 기반(User-User): 당신과 비슷한 고객들이 다음 상품도 구매했습니다.
- 아이템 기반(Item-Item): 이 상품을 선택한 다른 고객들은 다음 상품도 구매했습니다.

사용자 기반 최근접 이웃 방식은 특정 사용자와 유사한 다른 사용자를 TOP-N으로 선정해 이 TOP-N 사용자가 좋아하는 아이템을 추천하는 방식이다. 즉, 특정 사용자와 타 사용자 간의 유사도(Similarity)를 측정한 뒤 가장 유사도가 높은 TOP-N 사용자를 추출해 그들이 선호하는 아이템을 추천하는 것이다.

아이템 기반 최근접 이웃 방식은 그 명칭이 주는 이미지 때문에 '아이템 간 속성'이 얼마나 비슷한지를 기반으로 추천한다고 착각할 수 있다. 하지만 아이템 기반 최근접 이웃 방식은 아이템이 가지는 속성과는 상관없이 사용자들이 그 아이템을 좋아하는지/싫어하는지 평가 척도가 유사한 아이템을 추천하는 기준이 되는 알고리즘이다.

일반적으로 사용자 기반보다는 아이템 기반 협업 필터링이 정확도가 더 높다. 이유는 비슷한 영화(또는 상품)를 좋아(또는 구입)한다고 해서 사람들의 취향이 비슷하다고 판단하기는 어려운 경우가 많기 때문이다. 매우 유명한 영화는 취향과 관계없이 대부분의 사람이 관람하는 경우가 많고, 사용자들이 평점을 매긴 영화(또는 상품)의 개수가 많지 않은 경우가 일반적인데 이를 기반으로 다른 사람과의 유사도를 비교하기가 어려운 부분도 있다. 따라서 최근접 이웃 협업 필터링은 대부분 아이템 기반의 알고리즘을 적용한다.

앞장의 텍스트 분석에서 소개된 유사도 측정 방법인 코사인 유사도는 추천 시스템의 유사도 측정에 가장 많이 적용된다.

# 4. 잠재 요인 협업 필터링

## 1) 잠재 요인 협업 필터링의 이해

**잠재 요인 협업 필터링**은 사용자-아이템 평점 매트릭스 속에 숨어 있는 잠재 요인을 추출해 추천 예측을 할 수 있게 하는 기법이다. 대규모 다차원 행렬을 SVD와 같은 차원 감소 기법으로 분해하는 과정에서 잠재 요인을 추출하는데, 이러한 기법을 행렬 분해(Matrix Factorization)이라고 한다.

잠재 요인 협업 필터링은 사용자-아이템 평점 행렬 데이터만을 이용해 말 그대로 '잠재 요인'을 끄집어 내는 것을 의미한다. '잠재 요인'이 어떤 것인지는 명확히 정의할 수 없다. 하지만 이러한 '잠재 요인'을 기반으로 다차원 희소 행렬인 사용자-아이템 행렬 데이터를 저차원 밀집 행렬의 사용자-잠재 요인 행렬과 아이템-잠재 요인 행렬의 전치 행렬(즉, 잠재 요인-아이템 행렬)로 분해할 수 있으며, 이렇게 분해된 두 행렬의 내적을 통해 새로운 예측 사용자-아이템 평점 행렬 데이터를 만들어서 사용자가 아직 평점을 부여하지 않는 아이템에 대한 예측 평점을 생성하는 것이 잠재 요인 협력 필터링 알고리즘의 골자이다.

행렬 분해에 의해 추출되는 '잠재 요인'이 정확히 어떤 것인지는 알 수 없지만, 가령 영화 평점 기반의 사용자-아이템 평점 행렬 데이터라면 영화가 가지는 장르별 특성 선호도로 가정할 수 있다. 즉, 사용자-잠재 요인 행렬은 영화 장르에 대한 선호도로, 아이템-잠재 요인 행렬은 영화의 장르별 특성값으로 정의할 수 있다.

잠재 요인 협업 필터링은 숨겨져 있는 '잠재 요인'을 기반으로 분해된 매트릭스를 이용해 사용자가 아직 평가하지 않은 아이템에 대한 예측 평가를 수행하는 것이다. 사용자-아이템 평점 행렬과 같이 다차원의 매트릭스를 저차원의 매트릭스로 분해하는 기법을 **행렬 분해(Matrix Factorization)**이라고 한다.

## 2) 행렬 분해의 이해

**행렬 분해**는 다차원의 매트릭스를 저차원 매트릭스로 분해하는 기법으로서 대표적으로 SVD(Singular Vector Decomposition), NMF(Non-Negative Matrix Factorization) 등이 있다. Factorization(분해)은 우리말로 '인수분해'를 말한다.

M개의 사용자(User) 행과 N개의 아이템(Item) 열을 가진 평점 행렬 R은 M X N 차원으로 구성되며, 행렬 분해를 통해서 사용자-K 차원 잠재 요인 행렬 P(P는 M X K 차원)와 K 차원 잠재 요인 - 아이템 행렬 Q.T(Q.T는 K X N 차원)로 분해될 수 있다(Q는 아이템-잠재 요인 행렬이며, Q.T는 Q의 전치 행렬인 잠재 요인-아이템 행렬이다).

즉, R = P * Q.T 이며 각 기호에 대한 설명은 다음과 같다.
 - M은 총 사용자 수
 - N은 총 아이템 수
 - K는 잠재 요인의 차원 수
 - R은 M X N 차원의 사용자-아이템 평점 행렬
 - P는 사용자와 잠재 요인과의 관계 값을 가지는 M X K 차원의 사용자-잠재 요인 행렬
 - Q는 아이템과 잠재 요인과의 관계 값을 가지는 N X K 차원의 아이템-잠재 요인 행렬
 - Q.T는 Q 매트릭스의 행과 열 값을 교환한 전치 행렬


 R 행렬의 u행 사용자와 i열 아이템 위치에 있는 평점 데이터를 r(u, i)라고 하면
 > r(u, i) = pu * qi^t
로 유추할 수 있다. 여기서 pu는 P 행렬에서 u행 사용자 벡터이며, qi^t는 Q 행렬의 i행 아이템 벡터의 전치 벡터이다.

사용자-아이템 평점 행렬의 미정 값을 포함한 모든 평점 값은 행렬 분해를 통해 얻어진 P 행렬과 Q.T 행렬의 내적을 통해 예측 평점으로 다시 계산할 수 있다.
> R ~= ^R = P * Q.T

그렇다면 R 행렬을 어떻게 P와 Q 행렬로 분해할까? 행렬 분해는 주로 SVD(Singular Value Decomposition) 방식을 이용한다. 하지만 SVD는 널(NaN) 값이 없는 행렬에만 적용할 수 있다. R 행렬에는 아직 평점이 되지 않은 많은 널 값이 있기 때문에 P와 Q 행렬을 일반적인 SVD 방식으로는 분해할 수 없다. 이러한 경우에는 확률적 경사 하강법(Stochastic Gradient Descent, SGD)이나 ALS(Alternating Least Squares) 방식을 이용해 SVD를 수행한다.

## 3) 확률적 경사 하강법을 이용한 행렬 분해

확률적 경사 하강법을 이용한 행렬 분해 방법을 요약하자면, P와 Q 행렬로 계산된 예측 R 행렬 값이 실제 R 행렬 값과 가장 최소의 오류를 가질 수 있도록 반복적인 비용 함수 최적화를 통해 P와 Q를 유추해내는 것이다.

확률적 경사 하강법(이하 SGD)을 이용한 행렬 분해의 전반적인 절차를 보면 조금 더 쉽게 이해할 수 있다. 
  1. P와 Q를 임의의 값을 가진 행렬로 설정한다.
  2. P와 Q.T 값을 곱해 예측 R 행렬을 계산하고 예측 R 행렬과 실제 R 행렬에 해당하는 오류 값을 계산한다.
  3. 이 오류 값을 최소화할 수 있도록 P와 Q 행렬을 적절한 값으로 각각 업데이트한다.
  4. 만족할 만한 오류 값을 가질 때까지 2,3 번 작업을 반복하면서 P와 Q 값을 업데이트해 근사화한다.

실제 값과 예측값의 오류 최소화와 L2 규제(Regularization)을 고려한 비용 함수식은 다음과 같다.
> min∑(r(u,i) - pu*qi^t)^2 +  λ(||qi||^2 + ||pu||^2)

일반적으로 사용자-아이템 평점 행렬의 겨웅 행렬 분해를 위해서 단순히 예측 오류값의 최소화와 학습시 과적합을 피하기 위해서 규제를 반영한 비용 함수를 적용한다. 그리고 위의 비용 함수를 최소화하기 위해서 새롭게 업데이트되는 'pu와 'qi는 다음과 같이 계산할 수 있다(식의 유도는 이 책의 범위를 벗어나 생략한다).
  > 'pu = pu + η(e(u,i) * qi - λ * pu)
  > 'qi = qi + η(e(u,i) * pu - λ * qi)
비용 함수식과 업데이트식의 기호가 의미하는 바는 다음과 같다.
 - pu: P 행렬의 사용자 u행 벡터
 - qi^t: Q 행렬의 아이템 i행의 전치 벡터(transpose vector)
 - r(u,i): 실제 R 행의 u행 i열에 위치한 값.
 - ^r(u,i): 예측 ^R 행렬의 u행, i열에 위치한 값. pu * qi^t로 계산
 - e(u,i): u행, i열에 위치한 실제 행렬 값과 예측 행렬 값의 차이 오류. r(u,i) - ^r(u,i)
 - η: SGD 학습률
 - λ: L2 규제(Regularization) 계수

5장 3절에서 설명한 경사 하강법을 이용한 회귀는 비용 함수를 최소화하는 방향성을 가지고 회귀 계수의 업데이트 값(w1_update, w0_update)을 구하고 이 업데이트 값을 회귀 계수에 반복적으로 적용하는 것이 핵심 로직이었다. 평점 행렬을 경사 하강법을 이용해 행렬 분해하는 것도 이와 유사하다. L2 규제를 반영해 실제 R 행렬 값과 예측 R 행렬 값의 차이를 최소화하는 방향성을 가지고 P행렬과 Q행렬에 업데이트 값을 반복적으로 수행하면서 최적화된 예측 R 행렬을 구하는 방식이 SGD 기반의 행렬 분해이다.

이제 SGD를 이용해 행렬 분해를 수행하는 예제를 파이썬으로 구현한다. 분해하려는 원본 행렬 R을 P와 Q로 분해한 뒤에 다시 P와 Q.T의 내적으로 예측 행렬을 만드는 예제이다.

In [1]:
import numpy as np

# 원본 행렬 R 생성, 분해 행렬 P와 Q 초기화, 잠재 요인 차원 K는 3으로 설정.
R = np.array([[4, np.NaN, np.NaN, 2, np.NaN],
              [np.NaN, 5, np.NaN, 3, 1],
              [np.NaN, np.NaN, 3, 4, 4],
              [5, 2, 1, 2, np.NaN]])

num_users, num_items = R.shape
K=3

# P와 Q 행렬의 크기를 지정하고 정규 분포를 가진 임의의 값으로 입력한다.
np.random.seed(1)
P = np.random.normal(scale=1./K, size=(num_users, K))
Q = np.random.normal(scale=1./K, size=(num_items, K))

다음으로 실제 R 행렬과 예측 행렬의 오차를 구하는 get_rmse( ) 함수를 만든다. get_rmse( ) 함수는 실제 R 행렬의 널이 아닌 행렬 값의 위치 인덱스를 추출해 이 인덱스에 있는 실제 R 행렬 값과 분해된 P, Q를 이용해 다시 조합된 예측 행렬 값의 RMSE 값을 반환한다.

In [2]:
from sklearn.metrics import mean_squared_error

def get_rmse(R, P, Q, non_zeros):
  error = 0
  # 두 개의 분해된 행렬 P와 Q.T의 내적으로 예측 R 행렬 생성
  full_pred_matrix=np.dot(P, Q.T)

  # 실제 R 행렬에서 널이 아닌 값의 위치 인덱스 추출해 실제 R 행렬과 예측 행렬의 RMSE 추출
  x_non_zero_ind = [non_zero[0] for non_zero in non_zeros]
  y_non_zero_ind = [non_zero[1] for non_zero in non_zeros]
  R_non_zeros = R[x_non_zero_ind, y_non_zero_ind]
  full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_ind, y_non_zero_ind]
  mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros)
  rmse = np.sqrt(mse)

  return rmse

이제 SGD 기반으로 행렬 분해를 수행한다. 먼저 R에서 널 값을 제외한 데이터의 행렬 인덱스를 추출한다. steps는 SGD를 반복해서 업데이트할 횟수를 의미하며, learning_rate는 SGD의 학습률, r_lambda는 L2_Regularization 계수이다.

In [3]:
# R>0인 행 위치, 열 위치, 값을 non_zeros 리스트에 저장.
non_zeros = [ (i , j, R[i,j]) for i in range(num_users) for j in range(num_items) if R[i,j]>0]

steps=1000
learning_rate=0.01
r_lambda=0.01

# SGD 기법으로 P와 Q 매트릭스를 계속 업데이트.
for step in range(steps):
  for i, j, r in non_zeros:
    # 실제 값과 예측 값의 차이인 오류 값 구함
    eij = r - np.dot(P[i,:],Q[j,:].T)
    # Regularization을 반영한 SGD 업데이트 공식 적용
    P[i, :] = P[i, :] + learning_rate * (eij * Q[j, :] - r_lambda * P[i, :])
    Q[j, :] = Q[j, :] + learning_rate * (eij * P[i, :] - r_lambda * Q[j, :])

    rmse = get_rmse(R, P, Q, non_zeros)
    if (step % 50) == 0:
      print('### iteration step : ', step, 'rmse : ', rmse)

### iteration step :  0 rmse :  3.261355059488935
### iteration step :  0 rmse :  3.26040057174686
### iteration step :  0 rmse :  3.253984404542389
### iteration step :  0 rmse :  3.2521583839863624
### iteration step :  0 rmse :  3.252335303789125
### iteration step :  0 rmse :  3.251072196430487
### iteration step :  0 rmse :  3.2492449982564864
### iteration step :  0 rmse :  3.247416477570409
### iteration step :  0 rmse :  3.241926055455223
### iteration step :  0 rmse :  3.2400454107613084
### iteration step :  0 rmse :  3.240166740749792
### iteration step :  0 rmse :  3.2388050277987723
### iteration step :  50 rmse :  0.5003190892212749
### iteration step :  50 rmse :  0.5001616291326989
### iteration step :  50 rmse :  0.4989960120257809
### iteration step :  50 rmse :  0.498848345014583
### iteration step :  50 rmse :  0.4989518925663175
### iteration step :  50 rmse :  0.4983323683009099
### iteration step :  50 rmse :  0.4984148489378701
### iteration step :  50 rmse :  0.49792599580240876
### iteration step :  50 rmse :  0.4900605568692785
### iteration step :  50 rmse :  0.4890370238665434
### iteration step :  50 rmse :  0.48869176023997846
### iteration step :  50 rmse :  0.4876723101369647
### iteration step :  100 rmse :  0.15911521988578556
### iteration step :  100 rmse :  0.15880916178010931
### iteration step :  100 rmse :  0.15874092217089011
### iteration step :  100 rmse :  0.15828569528425077
### iteration step :  100 rmse :  0.15830809482168753
### iteration step :  100 rmse :  0.15828832993767397
### iteration step :  100 rmse :  0.15787486893092847
### iteration step :  100 rmse :  0.15792073606567075
### iteration step :  100 rmse :  0.15725245215457076
### iteration step :  100 rmse :  0.15710664164665206
### iteration step :  100 rmse :  0.1569025214419
### iteration step :  100 rmse :  0.15643403848192458
### iteration step :  150 rmse :  0.07546004875264456
### iteration step :  150 rmse :  0.07544589133447119
### iteration step :  150 rmse :  0.07543234329653034
### iteration step :  150 rmse :  0.07514800672233916
### iteration step :  150 rmse :  0.07518867696418184
### iteration step :  150 rmse :  0.07522889509938421
### iteration step :  150 rmse :  0.0748931886446927
### iteration step :  150 rmse :  0.07493400425933266
### iteration step :  150 rmse :  0.07462695506527875
### iteration step :  150 rmse :  0.07464332131959682
### iteration step :  150 rmse :  0.07464441641563421
### iteration step :  150 rmse :  0.07455141311978064
### iteration step :  200 rmse :  0.0436101657943908
### iteration step :  200 rmse :  0.043709130689530334
### iteration step :  200 rmse :  0.04369072102767999
### iteration step :  200 rmse :  0.04347554983227157
### iteration step :  200 rmse :  0.04353130925373599
### iteration step :  200 rmse :  0.04359240037575308
### iteration step :  200 rmse :  0.04329647906053857
### iteration step :  200 rmse :  0.04332057192123641
### iteration step :  200 rmse :  0.043104482945025314
### iteration step :  200 rmse :  0.043135502866585615
### iteration step :  200 rmse :  0.04313786864806276
### iteration step :  200 rmse :  0.043252267985793146
### iteration step :  250 rmse :  0.0293951831856098
### iteration step :  250 rmse :  0.029544029484371757
### iteration step :  250 rmse :  0.029501874367581973
### iteration step :  250 rmse :  0.029329609713572624
### iteration step :  250 rmse :  0.029402118073276706
### iteration step :  250 rmse :  0.029467205684175147
### iteration step :  250 rmse :  0.029189294191791382
### iteration step :  250 rmse :  0.029198757426747685
### iteration step :  250 rmse :  0.02899574226000236
### iteration step :  250 rmse :  0.029044154450545513
### iteration step :  250 rmse :  0.029049587101179625
### iteration step :  250 rmse :  0.029248328780879226
### iteration step :  300 rmse :  0.02267871523374936
### iteration step :  300 rmse :  0.022844873864300484
### iteration step :  300 rmse :  0.02277356665032507
### iteration step :  300 rmse :  0.022632345073225105
### iteration step :  300 rmse :  0.022720062551531153
### iteration step :  300 rmse :  0.022778917442558343
### iteration step :  300 rmse :  0.02251624306238127
### iteration step :  300 rmse :  0.022515508246519742
### iteration step :  300 rmse :  0.02229491665298547
### iteration step :  300 rmse :  0.022367287171783122
### iteration step :  300 rmse :  0.02239230348065316
### iteration step :  300 rmse :  0.022621116143829507
### iteration step :  350 rmse :  0.019516973680183958
### iteration step :  350 rmse :  0.019681605297160662
### iteration step :  350 rmse :  0.019585635379668606
### iteration step :  350 rmse :  0.019467165455250065
### iteration step :  350 rmse :  0.019565686789792668
### iteration step :  350 rmse :  0.019614020075870636
### iteration step :  350 rmse :  0.019368393329296515
### iteration step :  350 rmse :  0.019361014872335155
### iteration step :  350 rmse :  0.019116038405167703
### iteration step :  350 rmse :  0.019209815479975148
### iteration step :  350 rmse :  0.019255623979392383
### iteration step :  350 rmse :  0.019493636196525232
### iteration step :  400 rmse :  0.01803666559195474
### iteration step :  400 rmse :  0.018191331063344373
### iteration step :  400 rmse :  0.018078504374883713
### iteration step :  400 rmse :  0.01797554592952722
### iteration step :  400 rmse :  0.018080509676855996
### iteration step :  400 rmse :  0.018118882879536797
### iteration step :  400 rmse :  0.017889686482489495
### iteration step :  400 rmse :  0.017878066671070485
### iteration step :  400 rmse :  0.017612244339685706
### iteration step :  400 rmse :  0.01772096734904676
### iteration step :  400 rmse :  0.017781796456597727
### iteration step :  400 rmse :  0.018022719092132773
### iteration step :  450 rmse :  0.017334045429542207
### iteration step :  450 rmse :  0.017476834937591626
### iteration step :  450 rmse :  0.017353619075108358
### iteration step :  450 rmse :  0.017260553985290757
### iteration step :  450 rmse :  0.017369093850106612
### iteration step :  450 rmse :  0.017399933857257795
### iteration step :  450 rmse :  0.0171843175786375
### iteration step :  450 rmse :  0.0171699064962513
### iteration step :  450 rmse :  0.016888615795792955
### iteration step :  450 rmse :  0.01700663815408313
### iteration step :  450 rmse :  0.017076792508661655
### iteration step :  450 rmse :  0.01731968595344283
### iteration step :  500 rmse :  0.01699160924805319
### iteration step :  500 rmse :  0.0171234089157865
### iteration step :  500 rmse :  0.01699398405641072
### iteration step :  500 rmse :  0.016907070492030378
### iteration step :  500 rmse :  0.017017605772217764
### iteration step :  500 rmse :  0.01704327755670073
### iteration step :  500 rmse :  0.016838031459003783
### iteration step :  500 rmse :  0.016821674312725587
### iteration step :  500 rmse :  0.01652928126442942
### iteration step :  500 rmse :  0.016652888795198606
### iteration step :  500 rmse :  0.016728541275491084
### iteration step :  500 rmse :  0.016973657887570985
### iteration step :  550 rmse :  0.016818969716266428
### iteration step :  550 rmse :  0.01694144559744487
### iteration step :  550 rmse :  0.016808259298884326
### iteration step :  550 rmse :  0.016725234339747642
### iteration step :  550 rmse :  0.016836938491435156
### iteration step :  550 rmse :  0.016859187050621244
### iteration step :  550 rmse :  0.016661644526141703
### iteration step :  550 rmse :  0.016643851020065135
### iteration step :  550 rmse :  0.016343446075494296
### iteration step :  550 rmse :  0.016470440821826447
### iteration step :  550 rmse :  0.016549323314269518
### iteration step :  550 rmse :  0.01679680459589558
### iteration step :  600 rmse :  0.016727439717439153
### iteration step :  600 rmse :  0.016842259158977278
### iteration step :  600 rmse :  0.01670668792446753
### iteration step :  600 rmse :  0.016626255644609494
### iteration step :  600 rmse :  0.016738696939262863
### iteration step :  600 rmse :  0.01675868241598574
### iteration step :  600 rmse :  0.01656685720005292
### iteration step :  600 rmse :  0.016547954461110775
### iteration step :  600 rmse :  0.01624166876076104
### iteration step :  600 rmse :  0.01637080005613797
### iteration step :  600 rmse :  0.0164516272092571
### iteration step :  600 rmse :  0.016701322901884634
### iteration step :  650 rmse :  0.016674291334806118
### iteration step :  650 rmse :  0.016782895588884888
### iteration step :  650 rmse :  0.01664569809164759
### iteration step :  650 rmse :  0.01656714079916211
### iteration step :  650 rmse :  0.016680091021598505
### iteration step :  650 rmse :  0.016698554271430695
### iteration step :  650 rmse :  0.01651101773242772
### iteration step :  650 rmse :  0.016491228766905206
### iteration step :  650 rmse :  0.016180544197961624
### iteration step :  650 rmse :  0.01631111150707523
### iteration step :  650 rmse :  0.01639316772050073
### iteration step :  650 rmse :  0.016644736912476574
### iteration step :  700 rmse :  0.016638362442608513
### iteration step :  700 rmse :  0.0167419367433236
### iteration step :  700 rmse :  0.016603524189001635
### iteration step :  700 rmse :  0.016526454393300506
### iteration step :  700 rmse :  0.016639792083379536
### iteration step :  700 rmse :  0.016657201345297357
### iteration step :  700 rmse :  0.01647292838164141
### iteration step :  700 rmse :  0.01645241257047359
### iteration step :  700 rmse :  0.016138379086448086
### iteration step :  700 rmse :  0.016269993747904974
### iteration step :  700 rmse :  0.01635288508504548
### iteration step :  700 rmse :  0.016605910068210012
### iteration step :  750 rmse :  0.01660906046895513
### iteration step :  750 rmse :  0.01670856296909822
### iteration step :  750 rmse :  0.016569153528341703
### iteration step :  750 rmse :  0.016493367054249884
### iteration step :  750 rmse :  0.01660702796687089
### iteration step :  750 rmse :  0.016623681027525393
### iteration step :  750 rmse :  0.01644192727172457
### iteration step :  750 rmse :  0.016420802465343706
### iteration step :  750 rmse :  0.016104179990850825
### iteration step :  750 rmse :  0.016236628551952983
### iteration step :  750 rmse :  0.01632014100929194
### iteration step :  750 rmse :  0.01657420047570488
### iteration step :  800 rmse :  0.016581161561119988
### iteration step :  800 rmse :  0.016677363428437137
### iteration step :  800 rmse :  0.016537069269613805
### iteration step :  800 rmse :  0.01646246137777885
### iteration step :  800 rmse :  0.016576412350487686
### iteration step :  800 rmse :  0.016592501800249713
### iteration step :  800 rmse :  0.016412717409428523
### iteration step :  800 rmse :  0.016391072859801684
### iteration step :  800 rmse :  0.016072423077368784
### iteration step :  800 rmse :  0.016205589842522038
### iteration step :  800 rmse :  0.016289609430091508
### iteration step :  800 rmse :  0.01654431582921612
### iteration step :  850 rmse :  0.016552228984315465
### iteration step :  850 rmse :  0.016645751215475714
### iteration step :  850 rmse :  0.016504627328190483
### iteration step :  850 rmse :  0.01643114580174884
### iteration step :  850 rmse :  0.016545370571042384
### iteration step :  850 rmse :  0.016561024020104998
### iteration step :  850 rmse :  0.016382795627019667
### iteration step :  850 rmse :  0.01636070007608577
### iteration step :  850 rmse :  0.016040446344395495
### iteration step :  850 rmse :  0.016174269580681248
### iteration step :  850 rmse :  0.01625873735464131
### iteration step :  850 rmse :  0.016513751774735037
### iteration step :  900 rmse :  0.01652128043377805
### iteration step :  900 rmse :  0.016612624200841565
### iteration step :  900 rmse :  0.016470695682262133
### iteration step :  900 rmse :  0.016398314989165507
### iteration step :  900 rmse :  0.01651280633307365
### iteration step :  900 rmse :  0.016528110873501898
### iteration step :  900 rmse :  0.016351122754892623
### iteration step :  900 rmse :  0.01632862978384231
### iteration step :  900 rmse :  0.016007096878603345
### iteration step :  900 rmse :  0.0161415440715142
### iteration step :  900 rmse :  0.01622643084399404
### iteration step :  900 rmse :  0.01648146573819507
### iteration step :  950 rmse :  0.016488081335748327
### iteration step :  950 rmse :  0.016577652134974738
### iteration step :  950 rmse :  0.016434929334981776
### iteration step :  950 rmse :  0.016363636620406127
### iteration step :  950 rmse :  0.016478391959548654
### iteration step :  950 rmse :  0.01649340903060661
### iteration step :  950 rmse :  0.016317416842511017
### iteration step :  950 rmse :  0.01629456857175322
### iteration step :  950 rmse :  0.015972009545965202
### iteration step :  950 rmse :  0.01610706345879575
### iteration step :  950 rmse :  0.016192355609214667
### iteration step :  950 rmse :  0.01644717168347911

이제 분해된 P와 Q 함수를 P*Q.T로 예측 행렬을 만들어 출력해 본다.

In [4]:
pred_matrix = np.dot(P, Q.T)
print('예측 행렬:\n', np.round(pred_matrix, 3))

예측 행렬:
 [[3.991 0.897 1.306 2.002 1.663]
 [6.696 4.978 0.979 2.981 1.003]
 [6.677 0.391 2.987 3.977 3.986]
 [4.968 2.005 1.006 2.017 1.14 ]]

원본 행렬과 비교해 널이 아닌 값은 큰 차이가 나지 않으며, 널인 값은 새로운 예측값으로 채워졌다.

# 5. 콘텐츠 기반 필터링 실습 - TMDB 5000 영화 데이터 세트

해당 데이터는 https://www.kaggle.com/tmdb/tmdb-movie-metadata 에서 내려받을 수 있다.

## 1) 장르 속성을 이용한 영화 콘텐츠 기반 필터링

**콘텐츠 기반 필터링**은 사용자가 특정 영화를 감상하고 그 영화를 좋아했다면 그 영화와 비슷한 특성/속성, 구성 요소 등을 가진 다른 영화를 추천하는 것이다. 가령 영화 '인셉션'을 재미있게 봤다면 '인셉션'의 장르인 액션, 공상과학으로 높은 평점을 받은 다른 영화를 추천하거나 '인셉션'의 감독인 크리스토퍼 놀란의 다른 영화를 추천하는 방식이다. 이렇게 영화(또는 상품/서비스) 간의 유사성을 판단하는 기준이 영화를 구성하는 다양한 콘텐츠(장르, 감독, 배우, 평점, 키워드, 영화 설명)를 기반으로 하는 방식이 바로 콘텐츠 기반 필터링이다.

콘텐츠 기반 필터링 추천 시스템을 영화를 선택하는 데 중요한 요소인 영화 장르 속성을 기반으로 만들어 본다. 장르 칼럼 값의 유사도를 비교한 뒤 그중 높은 평점을 가지는 영화를 추천하는 방식이다.

## 2) 데이터 로딩 및 가공

In [5]:
import pandas as pd
import numpy as np
import warnings; warnings.filterwarnings('ignore')

movies = pd.read_csv('/content/drive/MyDrive/데이터분석/파이썬머신러닝완벽가이드/tmdb_5000/tmdb_5000_movies.csv')
print(movies.shape)
movies.head(1)

(4803, 20)

      budget  ... vote_count
0  237000000  ...      11800

[1 rows x 20 columns]

여러 개의 피처 중 콘텐츠 기반 필터링 추천 분석에 사용할 주요 칼럼만 추출해 새롭게 DataFrame으로 만든다.

In [6]:
movies_df = movies[['id', 'title', 'genres', 'vote_average', 'vote_count', 'popularity', 'keywords', 'overview']]

데이터를 보면 주의해야 할 칼럼이 있다. 'genres', 'keywords' 등과 같은 칼럼을 보면 [{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}]와 같이 파이썬 리스트(list) 내부에 여러 개의 딕셔너리(dict)가 있는 형태의 문자열로 표기돼 있다. 이는 한꺼번에 여러 개의 값을 표현하기 위한 표기 방식이다. 하지만 이 칼럼이 DataFrame으로 만들어질 때는 단순히 문자열 형태로 로딩되므로 이 칼럼을 가공하지 않고는 필요한 정보를 추출할 수가 없다. 먼저 해당 칼럼이 어떤 형태로 돼 있는지 확인한다.

In [7]:
pd.set_option('max_colwidth', 100)
movies_df[['genres', 'keywords']][:1]

                                                                                                genres                                                                                             keywords
0  [{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {...  [{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "sp...

위와 같이 genres 칼럼은 여러 개의 개별 장르 데이터를 가지고 있고, 이 개별 장르의 명칭은 딕셔너리 키(Key)인 'name'으로 추출할 수 있다. Keywords 역시 마찬가지 구조를 가지고 있다. genres 칼럼의 문자열을 분해해서 개별 장르를 파이썬 리스트 객체로 추출한다 파이썬 ast 모듈의 **literal_eval( )** 함수를 이용하면 이 문자열을 문자열이 의미하는 list [dict1, dict2] 객체로 만들 수 있다.

In [8]:
from ast import literal_eval
movies_df['genres'] = movies_df['genres'].apply(literal_eval)
movies_df['keywords'] = movies_df['keywords'].apply(literal_eval)

이제 genres 칼럼은 문자열이 아니라 실제 리스트 내부에 여러 장르 딕셔너리로 구성된 객체를 가진다. 이제 장르명만 리스트 객체로 추출하도록 한다.

In [9]:
movies_df['genres'] = movies_df['genres'].apply(lambda x : [y['name'] for y in x])
movies_df['keywords'] = movies_df['keywords'].apply(lambda x : [y['name'] for y in x])
movies_df[['genres', 'keywords']][:1]

                                          genres                                                                                             keywords
0  [Action, Adventure, Fantasy, Science Fiction]  [culture clash, future, space war, space colony, society, space travel, futuristic, romance, spa...

## 3) 장르 콘텐츠 유사도 측정

장르별 유사도를 어떻게 측정할까? 여러 가지 방법이 있을 수 있으나, 가장 간단한 방법은 genres를 문자열로 변경한 뒤 이를 CountVectorizer로 피처 벡터화한 행렬 데이터 값을 코사인 유사도로 비교하는 것이다. genres 칼럼을 기반으로 하는 콘텐츠 기반 필터링은 다음과 같은 단계로 구현한다.
 - 문자열로 변환된 genres 칼럼을 Count 기반으로 피처 벡터화 변환한다.
 - genres 문자열을 피처 벡터화 행렬로 변환한 데이터 세트를 코사인 유사도를 통해 비교한다. 이를 위해 데이터 세트의 레코드별로 타 레코드와 장르에서 코사인 유사도 값을 가지는 객체를 생성한다.
 - 장르 유사도가 높은 영화 중에 평점이 높은 순으로 영화를 추천한다.

먼저 genres 칼럼을 문자열로 변환한 뒤 사이킷런의 CountVectorizer를 이용해 피처 벡터 행렬로 만든다.

In [10]:
movies_df['genres']

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4798                        [Action, Crime, Thriller]
4799                                [Comedy, Romance]
4800               [Comedy, Drama, Romance, TV Movie]
4801                                               []
4802                                    [Documentary]
Name: genres, Length: 4803, dtype: object

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

# CountVectorizer를 적용하기 위해 공백문자로 word 단위가 구분되는 문자열로 변환
movies_df['genres_literal'] = movies_df['genres'].apply(lambda x: (' ').join(x))
count_vect = CountVectorizer(min_df=0, ngram_range=(1, 2))
genre_mat = count_vect.fit_transform(movies_df['genres_literal'])
print(genre_mat.shape)

(4803, 276)

CountVectorizer로 변환해 4803개의 레코드와 276개의 개별 단어 피처로 구성된 피처 벡터 행렬이 만들어졌다. 이렇게 생성된 피처 벡터 행렬에 사이킷런의 cosine_similarity( )를 이용해 코사인 유사도를 계산한다. 반환된 코사인 유사도 행렬의 크기 및 앞 2개 데이터만 추출해본다.

In [12]:
from sklearn.metrics.pairwise import cosine_similarity

genre_sim = cosine_similarity(genre_mat, genre_mat)
print(genre_sim.shape)
print(genre_sim[:2])

(4803, 4803)
[[1.         0.59628479 0.4472136  ... 0.         0.         0.        ]
 [0.59628479 1.         0.4        ... 0.         0.         0.        ]]

cosine_similarities( ) 호출로 생성된 genre_sim 객체는 movies_df의 genre_literal 칼럼을 피처 벡터화한 행렬(genre_mat) 데이터의 행(레코드)별 유사도 정보를 가지고 있으며, 결국은 movies_df DataFrame의 행별 장르 유사도 값을 가지고 있는 것이다. movies_df를 장르 기준으로 콘텐츠 기반 필터링을 수행하려면 movies_df의 개별 레코드에 대해서 가장 장르 유사도가 높은 순으로 다른 레코드를 추출해야 하는데, 이를 위해 앞에서 생성한 genre_sim 객체를 이용한다.

genre_sim 객체의 기준 행별로 비교 대상이 되는 행의 유사도 값이 높은 순으로 정렬된 행렬의 위치 인덱스 값을 추출하면 된다. 값이 높은 순으로 정렬된 비교 대상 행의 유사도 값이 아니라 비교 대상 행의 위치 인덱스임에 주의해야 한다. 넘파이의 argsort( ) 함수를 이용한다.

In [13]:
genre_sim_sorted_ind = genre_sim.argsort()[:, ::-1]
print(genre_sim_sorted_ind[:1])

[[   0 3494  813 ... 3038 3037 2401]]

반환된 [[   0 3494  813 ... 3038 3037 2401]] 이 의미하는 것은 0번 레코드의 경우 자신인 0번 레코드를 제외하면 3494번 레코드가 가장 유사도가 높고, 그 다음 813번 레코드이며, 가장 유사도가 낮은 레코드는 2401번 레코드라는 뜻이다.

이제 genre_sim_sorted_ind 객체는 각 레코드의 장르 코사인 유사도가 가장 높은 순으로 정렬된 타 레코드의 위치 인덱스 값을 가지고 있다. 이 위치 인덱스를 이용해 언제든지 특정 레코드와 코사인 유사도가 높은 다른 레코드를 추출할 수 있다.

## 4) 장르 콘텐츠 필터링을 이용한 영화 추천

장르 유사도에 따라 영화를 추천하는 함수르 생성한다. 함수명은 find_sim_movie( )이며, 인자로 기반 데이터인 movies_df DataFrame, 레코드별 장르 코사인 유사도 인덱스를 가지고 있는 genre_sim_sorted_ind 고객이 선정한 추천 기준이 되는 영화 제목, 추천할 영화 건수를 입력하면 추천 영화 정보를 가지는 DataFrame을 반환한다.

In [18]:
def find_sim_movie(df, sorted_ind, title_name, top_n=10):
    
    # 인자로 입력된 movies_df DataFrame에서 'title' 컬럼이 입력된 title_name 값인 DataFrame추출
    title_movie = df[df['title'] == title_name]
    
    # title_named을 가진 DataFrame의 index 객체를 ndarray로 반환하고 
    # sorted_ind 인자로 입력된 genre_sim_sorted_ind 객체에서 유사도 순으로 top_n 개의 index 추출
    title_index = title_movie.index.values
    similar_indexes = sorted_ind[title_index, :(top_n)]
    
    # 추출된 top_n index들 출력. top_n index는 2차원 데이터 임. 
    #dataframe에서 index로 사용하기 위해서 1차원 array로 변경
    print(similar_indexes)
    similar_indexes = similar_indexes.reshape(-1)
    
    return df.iloc[similar_indexes]

find_sim_movie( ) 함수를 이용해 영화 '대부'와 장르별로 유사한 영화 10개를 추천해본다.

In [19]:
similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'The Godfather',10)
similar_movies[['title', 'vote_average']]

[[2731 1243 3636 1946 2640 4065 1847 4217  883 3866]]

                                               title  vote_average
2731                          The Godfather: Part II           8.3
1243                                    Mean Streets           7.2
3636                                   Light Sleeper           5.7
1946  The Bad Lieutenant: Port of Call - New Orleans           6.0
2640         Things to Do in Denver When You're Dead           6.7
4065                                      Mi America           0.0
1847                                      GoodFellas           8.2
4217                                            Kids           6.8
883                              Catch Me If You Can           7.7
3866                                     City of God           8.1

결과를 보니 개선할 필요성이 있다.

이번에는 일단 좀 더 많은 후보군을 선정한 뒤에 영화의 평점에 따라 필터링해서 최종 추천하는 방식으로 변경한다. 영화의 평점 정보인 'vote_average' 값을 이용한다. 이를 이용할 때 주의할 점이 있는데, 1명, 2명의 소수의 관객이 특정 영화에 만점이나 매우 높은 평점을 부여해 왜곡된 데이터를 가질 수 있기 때문이다. 이를 확인하기 위해 sort_values( )를 이용해 평점('vote_average') 오름차순으로 movies_df를 정렬해서 10개만 출력한다.

In [20]:
movies_df[['title', 'vote_average', 'vote_count']].sort_values('vote_average', ascending=False)[:10]

                         title  vote_average  vote_count
3519          Stiff Upper Lips          10.0           1
4247     Me You and Five Bucks          10.0           2
4045     Dancer, Texas Pop. 81          10.0           1
4662            Little Big Top          10.0           1
3992                 Sardaarji           9.5           2
2386            One Man's Hero           9.3           2
2970        There Goes My Baby           8.5           2
1881  The Shawshank Redemption           8.5        8205
2796     The Prisoner of Zenda           8.4          11
3337             The Godfather           8.4        5893

평가 횟수가 매우 적은 데이터가 순위를 왜곡하고 있다. 이와 같은 왜곡된 평점 데이터를 회피하도록 평점에 평가 횟수를 반영할 수 있는 새로운 평가 방식이 필요하다.

유명한 영화 평점 사이트인(IMDB)에서는 평가 횟수에 대한 가중치가 부여된 평점(Weighted Rating) 방식을 이용한다. 공식은 다음과 같다.
> 가중 평점(Weighted Rating) = (v/(v+m)) * R + (m/(v+m)) * C

각 변수의 의미는 다음과 같다.
 - v: 개별 영화에 평점을 투표한 횟수
 - m: 평점을 부여하기 위한 최소 투표 횟수
 - R: 개별 영화에 대한 평균 평점
 - C: 전체 영화에 대한 평균 평점

v는 movies_df의 'vote_count' 값이며, R 값은 'vote_average' 값에 해당한다. C의 경우 전체 영화의 평균 평점이므로 movies_df['vote_average']로 구할 수 있다. m의 경우 투표 횟수에 따른 가중치를 직접 조절하는 역할을 하는데, m 값을 놓이면 평점 투표 횟수가 많은 영화에 더 많은 가중 평점을 부여한다. m 값은 전체 투표 횟수에서 상위 60%에 해당하는 횟수를 기준으로 정한다. 상위 60% 값은 Series 객체의 **quantile( )**을 이용해 추출한다.

In [21]:
C = movies_df['vote_average'].mean()
m = movies_df['vote_count'].quantile(0.6)
print('C:', round(C, 3), 'm:', round(m, 3))

C: 6.092 m: 370.2

기존 평점을 새로운 가중 평점으로 변경하는 함수를 생성하고 이를 이용해 새로운 평점 정보인 'vote_weighted' 값을 만든다.

In [23]:
percentile =0.6
m = movies['vote_count'].quantile(percentile)
C = movies['vote_average'].mean()

def weighted_vote_average(record):
  v = record['vote_count']
  R = record['vote_average']

  return ((v/(v+m)) * R + (m/(v+m)) * C)

movies_df['weighted_vote'] = movies.apply(weighted_vote_average, axis=1)

새롭게 부여된 weighted_vote 평점이 높은 순으로 상위 10개 영화를 추출한다.

In [24]:
movies_df[['title', 'vote_average', 'weighted_vote', 'vote_count']].sort_values('weighted_vote', ascending=False)[:10]

                         title  vote_average  weighted_vote  vote_count
1881  The Shawshank Redemption           8.5       8.396052        8205
3337             The Godfather           8.4       8.263591        5893
662                 Fight Club           8.3       8.216455        9413
3232              Pulp Fiction           8.3       8.207102        8428
65             The Dark Knight           8.2       8.136930       12002
1818          Schindler's List           8.3       8.126069        4329
3865                  Whiplash           8.3       8.123248        4254
809               Forrest Gump           8.2       8.105954        7927
2294             Spirited Away           8.3       8.105867        3840
2731    The Godfather: Part II           8.3       8.079586        3338

이제 새롭게 정의된 평점 기준에 따라서 영화를 추천하도록 한다. 장르 유사성이 높은 영화 top_n의 2배수만큼 후보군으로 선정한 뒤 weighted_vote 칼럼 값이 높은 순으로 top_n만큼 추출하는 방식으로 find_sim_movie( ) 함수를 변경한다.

In [26]:
def find_sim_movie(df, sorted_ind, title_name, top_n=10):
    title_movie = df[df['title'] == title_name]
    title_index = title_movie.index.values

    # top_n의 2배에 해당하는 장르 유사성이 높은 인덱스 추출
    similar_indexes = sorted_ind[title_index, :(top_n * 2)]
    similar_indexes = similar_indexes.reshape(-1)

    # 기준 영화 인덱스는 제외
    similar_indexes = similar_indexes[similar_indexes != title_index]

    # top_n의 2배에 해당하는 후보군에서 weighted_vote가 높은 순으로 top_n만큼 추출    
    return df.iloc[similar_indexes].sort_values('weighted_vote', ascending=False)[:top_n]

similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'The Godfather', 10)
similar_movies[['title', 'vote_average', 'weighted_vote']]

                            title  vote_average  weighted_vote
2731       The Godfather: Part II           8.3       8.079586
1847                   GoodFellas           8.2       7.976937
3866                  City of God           8.1       7.759693
1663  Once Upon a Time in America           8.2       7.657811
883           Catch Me If You Can           7.7       7.557097
281             American Gangster           7.4       7.141396
4041              This Is England           7.4       6.739664
1149              American Hustle           6.8       6.717525
1243                 Mean Streets           7.2       6.626569
2839                     Rounders           6.9       6.530427

# 6. 아이템 기반 최근접 이웃 협업 필터림 실습

데이터 세트는 https://grouplens.org/datasets/movielens/latest/ 에서 내려받을 수 있다. ml-latest-small.zip 파일을 내려 받으면 된다.

## 1) 데이터 가공 및 변환

In [46]:
import pandas as pd
import numpy as np

movies = pd.read_csv('/content/drive/MyDrive/데이터분석/파이썬머신러닝완벽가이드/ml-latest-small/movies.csv')
ratings = pd.read_csv('/content/drive/MyDrive/데이터분석/파이썬머신러닝완벽가이드/ml-latest-small/ratings.csv')
print(movies.shape)
print(ratings.shape)

(9742, 3)
(100836, 4)

In [47]:
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [48]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

ratings 데이터셋을 사용자-영화 DataFrame으로 변경한다. 피봇 테이블을 이용한다.

In [49]:
ratings = ratings[['userId', 'movieId', 'rating']]
ratings_matrix = ratings.pivot_table('rating', index='userId', columns='movieId')
ratings_matrix.head(3)

movieId  1       2       3       4       ...  193583  193585  193587  193609
userId                                   ...
1           4.0     NaN     4.0     NaN  ...     NaN     NaN     NaN     NaN
2           NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
3           NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN

[3 rows x 9724 columns]

In [50]:
# title 칼럼을 얻기 위해 movies와 조인 수행
rating_movies = pd.merge(ratings, movies, on='movieId')

# columns = 'title'로 title 컬럼으로 pivot 수행.
ratings_matrix = rating_movies.pivot_table('rating', index='userId', columns = 'title')

# NaN 값을 모두 0으로 변환
ratings_matrix = ratings_matrix.fillna(0)
ratings_matrix.head(3)

title   '71 (2014)  ...  À nous la liberté (Freedom for Us) (1931)
userId              ...
1              0.0  ...                                        0.0
2              0.0  ...                                        0.0
3              0.0  ...                                        0.0

[3 rows x 9719 columns]

## 2) 영화관 유사도 산출

변환된 사용자-영화 평점 행렬 데이터 세트를 이용해 영화 간의 유사도를 측정한다. 유사도는 코사인 유사도를 기반으로 하고 사이킷런의 cosine_similarity( )를 이용해 측정한다. 지금 만든 ratings_matrix 데이터 세트에 cosine_similarity( )를 적용하면 영화간 유사도를 측정할 수 없다. 이 함수는 행을 기준으로 서로 다른 행을 비교해 유사도를 산출하기 때문이다. 그런데 ratings_matrix는 userId가 기준인 행 레벨 데이터이므로 여기에 cosine_similarity( )를 적용하면 영화 간 유사도가 아니라 사용자 간 유사도가 만들어진다.

영화를 기준으로 cosine_similarity( )를 적용하려면 현재의 ratings_matrix가 행 기준 영화가 되고 열 기준이 사용자가 돼야 한다. **transpose( ) 함수**를 이용해 행과 열을 바꾼다.

In [51]:
ratings_matrix_T = ratings_matrix.transpose()
ratings_matrix_T.head(3)

userId                                   1    2    3    4    ...  607  608  609  610
title                                                        ...
'71 (2014)                               0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  4.0
'Hellboy': The Seeds of Creation (2004)  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
'Round Midnight (1986)                   0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0

[3 rows x 610 columns]

이제 영화의 코사인 유사도를 구한다. 직관적으로 영화의 유사도 값을 표현하기 위해 cosine_similarity( )로 반환된 넘파이 행렬에 영화명을 매핑해 DataFrame으로 반환한다.

In [52]:
from sklearn.metrics.pairwise import cosine_similarity

item_sim = cosine_similarity(ratings_matrix_T, ratings_matrix_T)

# cosine_similarity( )로 반환된 넘파이 행렬을 영화명을 매핑해 DataFrame으로 변환
item_sim_df = pd.DataFrame(data=item_sim, index=ratings_matrix.columns, columns=ratings_matrix.columns)

print(item_sim_df.shape)
item_sim_df.head(3)

(9719, 9719)

title                                    '71 (2014)  ...  À nous la liberté (Freedom for Us) (1931)
title                                                ...
'71 (2014)                                      1.0  ...                                        0.0
'Hellboy': The Seeds of Creation (2004)         0.0  ...                                        0.0
'Round Midnight (1986)                          0.0  ...                                        0.0

[3 rows x 9719 columns]

item_sim을 DataFrame으로 변환한 item_sim_df를 이용해 영화 '대부(Godfather, The(1972))'와 유사도가 높은 상위 6개 영화를 추출한다.

In [53]:
item_sim_df['Godfather, The (1972)'].sort_values(ascending=False)[:6]

title
Godfather, The (1972)                        1.000000
Godfather: Part II, The (1974)               0.821773
Goodfellas (1990)                            0.664841
One Flew Over the Cuckoo's Nest (1975)       0.620536
Star Wars: Episode IV - A New Hope (1977)    0.595317
Fargo (1996)                                 0.588614
Name: Godfather, The (1972), dtype: float64

In [54]:
item_sim_df['Inception (2010)'].sort_values(ascending=False)[1:6]

title
Dark Knight, The (2008)          0.727263
Inglourious Basterds (2009)      0.646103
Shutter Island (2010)            0.617736
Dark Knight Rises, The (2012)    0.617504
Fight Club (1999)                0.615417
Name: Inception (2010), dtype: float64

## 3) 아이템 기반 최근접 이웃 협업 필터링으로 개인화된 영화 추천

영화 유사도 데이터를 이용해 최근접 이웃 협업 필터링으로 개인에게 최적화된 영화 추천을 구현한다. 개인화된 영화 추천의 가장 큰 특징은 개인이 아직 관람하지 않은 영화를 추천한다는 것이다. 아직 관람하지 않은 영화에 대해서 아이템 유사도와 기존에 관람한 영화의 평점 데이터를 기반으로 해 새롭게 모든 영화의 예측 평점을 계산한 후 높은 예측 평점을 가진 영하를 추천하는 방식이다.

이러한 아이템 기반의 협업 필터림에서 개인화된 예측 평점은 다음 식으로 구할 수 있다.
![아이템 기반 협업 필터링 개인화된 예측 평점 식.png]()
 - Ru,N: 사용자 u의 아이템 i와 가장 유사도가 높은 Top-N개 아이템에 대한 실제 평점 벡터

여기서 Si,N과 Ru,N에 나오는 N 값은 아이템의 최근접 이웃 범위 계수(item neighbor)를 의미한다. 이는 특정 아이템 유사도가 가장 높은 Top-N개의 다른 아이템을 추출하는 데 사용된다. 먼저 N의 범위에 제약을 두지 않고 모든 아이템으로 가정하고 예측 평점을 구하는 로직을 작성한 뒤 Top-N 아이템을 기반으로 협업 필터링을 수행하는 로직으로 변경한다.

앞 예제에서 생성한 영화 간 유사도를 가지는 DataFrame인 item_sim_df와 사용자-영화 평점 DataFrame인 ratings_matrix 변수를 계속 활용해 사용자별로 최적화된 평점 스코어를 예측하는 함수를 만든다.

N의 범위에 제약을 두지 않는다면 사용자별 영화 예측 평점 Ru,i는 사용자 u의 모든 영화에 대한 실제 평점과 영화 i의 다른 모든 영화와의 코사인 유사도를 벡터 내적 곱(dot)한 값을 정규화를 위해 ∑N(|Si,N|)으로 나눈 것을 의미한다.

In [57]:
def predict_rating(ratings_arr, item_sim_arr ):
    ratings_pred = ratings_arr.dot(item_sim_arr)/ np.array([np.abs(item_sim_arr).sum(axis=1)])
    return ratings_pred

ratings_arr.dot(item_sim_arr)은 ∑N(Si,N * Ru,N)를 계산한 값이다. np.array([np.abs(item_sim_arr).sum(axis=1)]은 ∑N(|Si,N|)를 계산한 값이다.

이를 이용해 개인화된 예측 평점을 구한다. ratings_matrix와 item_sim_df를 넘파이 행렬로 변환해 인자로 입력한다.

In [59]:
ratings_pred = predict_rating(ratings_matrix.values , item_sim_df.values)
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index= ratings_matrix.index,
                                   columns = ratings_matrix.columns)
ratings_pred_matrix.head(3)

title   '71 (2014)  ...  À nous la liberté (Freedom for Us) (1931)
userId              ...
1         0.070345  ...                                   0.720347
2         0.018260  ...                                   0.000000
3         0.011884  ...                                   0.084501

[3 rows x 9719 columns]

이 예측 결과가 원래의 실제 평점과 얼마나 차이가 있는지 확인한다. 예측 평가 지표는 MSE를 적용한다. MSE를 측정할 때 유의할 점이 있다. 사용자가 영화의 평점을 주지 않은 경우 앞에서는 평점을 0으로 부과했다. 하지만 앞에서 개인화된 예측 점수는 평점을 주지 않은 영화에 대해서도 아이템 유사도에 기반해 평점을 예측했다. 따라서 실제와 예측 평점 차이는 기존에 평점이 부여된 데이터에 대해서만 오차 정도를 측정한다.

In [62]:
from sklearn.metrics import mean_squared_error

# 사용자가 평점을 부여한 영화에 대해서만 예측 성능 평가 MSE를 구함.
def get_mse(pred, actual):
  # 평점이 있는 실제 영화만 추출
  pred = pred[actual.nonzero()].flatten()
  actual = actual[actual.nonzero()].flatten()
  return mean_squared_error(pred, actual)

print('아이템 기반 모든 최근접 이웃 MSE: ', get_mse(ratings_pred, ratings_matrix.values))

아이템 기반 모든 최근접 이웃 MSE:  9.895354759094706

앞의 predict_rating( ) 함수는 사용자별 영화의 예측 평점을 계산하기 위해 해당 영화와 다른 모든 영화 간의 유사도 벡터를 적용한 것이다 많은 영화의 유사도 벡터를 이용하다 보니 상대적으로 평점 예측이 떨어졌다. 특정 영화와 가장 비슷한 유사도를 가지는 영화에 대해서만 유사도 벡터를 적용하는 함수로 변경한다.

In [64]:
def predict_rating_topsim(ratings_arr, item_sim_arr, n=20):
  # 사용자-아이템 평점 행렬 크기만큼 0으로 채운 예측 행렬 초기화
  pred = np.zeros(ratings_arr.shape)

  # 사용자-아이템 평점 행렬의 열 크기만큼 루프 수행.
  for col in range(ratings_arr.shape[1]):
    # 유사도 행렬에서 유사도가 큰 순으로 n개 데이터 행렬의 인덱스 반환
    top_n_items = [np.argsort(item_sim_arr[:, col])[:-n-1:-1]]

    # 개인화된 예측 평점을 계산
    for row in range(ratings_arr.shape[0]):
      pred[row, col] = item_sim_arr[col, :][top_n_items].dot(ratings_arr[row, :][top_n_items].T)
      pred[row, col] /= np.sum(np.abs(item_sim_arr[col, :][top_n_items]))

  return pred

predict_rating_topsim( ) 함수를 이용해 예측 평점을 계산하고, 실제 평점과의 MSE를 구한다. 계산된 예측 평점 넘파이 행렬은 판다스 DataFrame으로 재생성한다.

In [65]:
ratings_pred = predict_rating_topsim(ratings_matrix.values, item_sim_df.values, n=20)
print('아이템 기반 최근접 TOP-20 이웃 MSE: ', get_mse(ratings_pred, ratings_matrix.values))

# 계산된 예측 평점 데이터는 DataFrame으로 재생성
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index= ratings_matrix.index, columns = ratings_matrix.columns)

아이템 기반 최근접 TOP-20 이웃 MSE:  3.6949827608772314

기존의 MSE보다 많이 향상됐다. 이제 특정 사용자에 대해 영화 추천을 시작한다ㅣ userId = 9인 사용자에 대해 영화 추천을 해본다.

먼저 9번 userId 사용자가 어떤 영화를 좋아하는지 확인한다. 사용자가 평점을 준 영화를 높은 순으로 나열해본다.

In [67]:
user_rating_id = ratings_matrix.loc[9, :]
user_rating_id[user_rating_id > 0].sort_values(ascending=False)[:10]

title
Adaptation (2002)                                                                 5.0
Austin Powers in Goldmember (2002)                                                5.0
Lord of the Rings: The Fellowship of the Ring, The (2001)                         5.0
Lord of the Rings: The Two Towers, The (2002)                                     5.0
Producers, The (1968)                                                             5.0
Citizen Kane (1941)                                                               5.0
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    5.0
Back to the Future (1985)                                                         5.0
Glengarry Glen Ross (1992)                                                        4.0
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)                                     4.0
Name: 9, dtype: float64

이 사용자에게 아이템 기반 협업 필터링을 통해 영화를 추천한다. 먼저 사용자가 이미 평점을 준 영화를 제외하고 추천할 수 있도록 평점을 주지 않은 영화를 리스트 객체로 반환하는 함수를 생성한다.

In [69]:
def get_unseen_movies(ratings_matrix, userId):
  # userId로 입력받은 사용자의 모든 영화 정보를 추출해 Series로 반환한다.
  # 반환된 user_rating은 영화명(title)을 인덱스로 가지는 Series 객체이다.
  user_rating = ratings_matrix.loc[userId, :]

  # user_rating이 0보다 크면 기존에 관람한 영화이다. 대상 인덱스를 추출해 list 객체로 만든다.
  already_seen = user_rating[user_rating > 0].index.tolist()

  # 모든 영화명을 list 객체로 만든다.
  movies_list = ratings_matrix.columns.tolist()

  # list comprehension으로 already_seen에 해당하는 영화는 movie_list에서 제외한다.
  unseen_list = [movie for movie in movies_list if movie not in already_seen]

  return unseen_list

사용자가 영화의 평점을 주지 않은 추천 대상 영화 정보와 predict_rating_topsim( )에서 추출한 사용자별 아이템 유사도에 기반한 예측 평점 데이터 세트를 이용해 최종적으로 사용자에게 영화를 추천하는 함수인 recomm_movie_by_userid( )를 만든다.

In [70]:
def recomm_movie_by_userid(pred_df, userId, unseen_list, top_n=10):
  # 예측 평점 DataFrame에서 사용자id 인덱스와 unseen_list로 들어온 영화명 칼럼을 추출해
  # 가장 예측 평점이 높은 순으로 정렬한다.
  recomm_movies = pred_df.loc[userId, unseen_list].sort_values(ascending=False)[:top_n]
  return recomm_movies

# 사용자가 관람하지 않는 영화명 추출
unseen_list = get_unseen_movies(ratings_matrix, 9)

# 아이템 기반의 최근접 이웃 협업 필터링으로 영화 추천
recomm_movies = recomm_movie_by_userid(ratings_pred_matrix, 9, unseen_list, top_n=10)

# 평점 데이터를 DataFrame으로 생성.
recomm_movies = pd.DataFrame(data=recomm_movies.values, index=recomm_movies.index, columns=['pred_score'])

recomm_movies

                                                                                                pred_score
title
Shrek (2001)                                                                                      0.866202
Spider-Man (2002)                                                                                 0.857854
Last Samurai, The (2003)                                                                          0.817473
Indiana Jones and the Temple of Doom (1984)                                                       0.816626
Matrix Reloaded, The (2003)                                                                       0.800990
Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)    0.765159
Gladiator (2000)                                                                                  0.740956
Matrix, The (1999)                                                                                0.732693
Pirates of the Caribbean: The Curse of the Black Pearl (2003)                                     0.689591
Lord of the Rings: The Return of the King, The (2003)                                             0.676711

# 7. 행렬 분해를 이용한 잠재 요인 협업 필터링 실습

행렬 분해 잠재 요인 협업 필터링은 SVD나 NMF 등을 적용할 수 있는데, 일반적으로 행렬 분해에는 SVD가 자주 사용되지만 사용자-아이템 평점 행렬에는 사용자가 평점을 매기지 않은 널 데이터가 많기에 주로 SGD나 ALS 기반의 행렬 분해를 이용한다. 여기서는 SGD 기반의 행렬 분해를 구현하고 이를 기반으로 사용자에게 영화를 추천해본다.

행렬 분해 로직을 새로운 matrix_factorization( ) 함수로 정리한다. matrix_factorization(R, K, steps=200, learning_rate=0.01, r_lambda = 0.01)에서 R은 원본 사용자-아이템 평점 행렬이며, K는 잠재 요인의 차원 수, steps는 SGD의 반복 횟수, learning_rate는 학습률, r_lambda는 L2 규제 계수이다.

In [72]:
def matrix_factorization(R, K, steps=200, learning_rate=0.01, r_lambda = 0.01):
  num_users, num_items = R.shape

  # P와 Q 매트릭스의 크기를 지정하고 정규 분포를 가진 랜덤한 값으로 입력한다.
  np.random.seed(1)
  P = np.random.normal(scale=1./K, size=(num_users, K))
  Q = np.random.normal(scale=1./K, size=(num_items, K))

  prev_rmse = 10000
  break_count=0

  # R > 0 인 행 위치, 열 위치, 값을 non_zeros 리스트 객체에 저장
  non_zeros = [ (i, j, R[i, j]) for i in range(num_users) for j in range(num_items) if R[i, j] > 0]

  # SGD 기법으로 P와 Q 매트릭스를 계속 업데이트.
  for step in range(steps):
    for i, j, r in non_zeros:
      # 실제 값과 예측 값의 차이인 오류 값 구함
      eij = r - np.dot(P[i, :], Q[j, :].T)

      # Regularization을 반영한 SGD 업데이트 공식 적용
      P[i, :] = P[i, :] + learning_rate * (eij * Q[j, :] - r_lambda*P[i, :])
      Q[j, :] = Q[j, :] + learning_rate * (eij * P[i, :] - r_lambda*P[i, :])

    rmse = get_rmse(R, P, Q, non_zeros)
    if (step % 10) == 0:
      print('### iteration step : ', step, 'rmse : ', rmse)

  return P, Q

먼저 영화 평점 행렬 데이터를 새롭게 DataFrame으로 로딩한 뒤 다시 사용자-아이템 평점 행렬로 만든다.

In [74]:
import pandas as pd
import numpy as np

movies = pd.read_csv('/content/drive/MyDrive/데이터분석/파이썬머신러닝완벽가이드/ml-latest-small/movies.csv')
ratings = pd.read_csv('/content/drive/MyDrive/데이터분석/파이썬머신러닝완벽가이드/ml-latest-small/ratings.csv')
ratings = ratings[['userId', 'movieId', 'rating']]
ratings_matrix = ratings.pivot_table('rating', index='userId', columns='movieId')

# title 컬럼을 얻기 이해 movies 와 조인 수행
rating_movies = pd.merge(ratings, movies, on='movieId')

# columns='title' 로 title 컬럼으로 pivot 수행. 
ratings_matrix = rating_movies.pivot_table('rating', index='userId', columns='title')

다시 만들어진 사용자-아이템 평점 행렬을 matrix_factorization( ) 함수를 이용해 행렬 분해한다.

In [75]:
P, Q = matrix_factorization(ratings_matrix.values, K=50, steps=200, learning_rate=0.01, r_lambda=0.01)

pred_matrix = np.dot(P, Q.T)

### iteration step :  0 rmse :  2.9032299616444175
### iteration step :  10 rmse :  0.7311180675893943
### iteration step :  20 rmse :  0.5050240329919514
### iteration step :  30 rmse :  0.36693669439212445
### iteration step :  40 rmse :  0.29112987927468414
### iteration step :  50 rmse :  0.24719757868033887
### iteration step :  60 rmse :  0.21974692129746112
### iteration step :  70 rmse :  0.20118679489351743
### iteration step :  80 rmse :  0.1877836889031605
### iteration step :  90 rmse :  0.1775936237331248
### iteration step :  100 rmse :  0.1695356600116798
### iteration step :  110 rmse :  0.16296885046803586
### iteration step :  120 rmse :  0.15748912197493622
### iteration step :  130 rmse :  0.15282795742041574
### iteration step :  140 rmse :  0.1487993877463809
### iteration step :  150 rmse :  0.14527044736221323
### iteration step :  160 rmse :  0.1421436077105363
### iteration step :  170 rmse :  0.139345767573619
### iteration step :  180 rmse :  0.13682108280867938
### iteration step :  190 rmse :  0.13452616194877592

더 쉽게 영화 아이템 칼럼을 이해하기 위해 반환된 예측 사용자-아이템 평점 행렬을 영화 타이틀을 칼럼명으로 가지는 DataFrame으로 변경한다.

In [76]:
ratings_pred_matrix = pd.DataFrame(data=pred_matrix, index=ratings_matrix.index, columns = ratings_matrix.columns)
ratings_pred_matrix.head(3)

title   '71 (2014)  ...  À nous la liberté (Freedom for Us) (1931)
userId              ...
1         3.377643  ...                                   0.907779
2         3.284211  ...                                   0.781266
3         2.637018  ...                                   0.479738

[3 rows x 9719 columns]

이제 이렇게 만들어진 예측 사용자-아이템 평점 행렬 정보를 이용해 개인화된 영화 추천을 해보도록 한다.

In [77]:
# 사용자가 관람하지 않은 영화명 추출
unseen_list = get_unseen_movies(ratings_matrix, 9)

# 잠재 요인 협업 필터링으로 영화 추천
recomm_movies = recomm_movie_by_userid(ratings_pred_matrix, 9, unseen_list, top_n=10)

# 평점 데이터를 DataFrame으로 생성.
recomm_movies = pd.DataFrame(data=recomm_movies.values, index=recomm_movies.index, columns=['pred_score'])
recomm_movies

                                              pred_score
title
Rear Window (1954)                              6.214821
South Park: Bigger, Longer and Uncut (1999)     5.796249
Gattaca (1997)                                  5.561292
Rounders (1998)                                 5.500799
Blade Runner (1982)                             5.456400
Ben-Hur (1959)                                  5.324896
Big Lebowski, The (1998)                        5.241754
Roger & Me (1989)                               5.229091
Rosencrantz and Guildenstern Are Dead (1990)    5.113315
Gosford Park (2001)                             5.046344

앞 절의 아이템 기반 협업 필터링 결과와는 추천한 영화가 많이 다르다.

# 8. 파이썬 추천 시스템 패키지 - Surprise

## 1) Surprise 패키지 소개

파이썬 기반의 추천 시스템 구축을 위한 전용 패키지 중 하나인 Surprise를 소개한다. 주요 장점은 다음과 같다.
 - 다양한 추천 알고리즘, 예를 들어 사용자 또는 아이템 기반 최근접 이웃 협업 필터링, SVD, SVD++, NMF 기반의 잠재 요인 협업 필터링을 쉽게 적용해 추천 시스템을 구축할 수 있다.
 - Surprise의 핵심 API는 사이킷런의 핵심 API와 유사한 API명으로 작성됐다 예를 들어 fit( ), predict( ) API로 추천 데이터 학습과 예측, train_test_split( )으로 추천 학습 데이터 세트와 예측 데이터 세트 분리, cross_validate( ), GridSearchCV 클래스를 통해 추천 시스템을 위한 모델 셀렉션, 평가, 하이퍼 파라미터 튜닝 등의 기능을 제공한다.

In [84]:
!pip install surprise

Requirement already satisfied: surprise in /usr/local/lib/python3.7/dist-packages (0.1)
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.7/dist-packages (from surprise) (1.1.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.0.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.19.5)

## 2) Surprise를 이용한 추천 시스템 구축

Surprise에 대한 문서는 https://surprise.reathedocs.io/en/stable/에 잘 정리 되어 있다. 이 중 간단한 예제를 통해 Surprise 패키지의 개략적인 사용법을 익히도록 한다.

In [87]:
from surprise import SVD, Dataset, accuracy
from surprise.model_selection import train_test_split

Surprise는 Movie Lens 데이터 세트의 사용자-영화 평점 데이터 포맷과 같이 userId(사용자 ID), movieId(영화 ID), rating(평점)과 같은 주요 데이터가 로우(Row) 레벨 형태로 돼 있는 포맷의 데이터만 처리한다.